/.DS_Store
/.vscode
/mac.xpl.map

# Игнорировать все бинарные файлы
*.exe
*.dll
*.so
*.dylib
*.bin
*.obj
*.o

# Игнорировать все файлы в папках /bin и их подпапках
**/bin/

**/obj
**/utils/aeroform-binding/Generated